*{
	padding:0;
	margin:0;
}

body{
	height:1200px;
	   	
}

.bg{
	position:fixed;
	background: radial-gradient( #87E9FF, #0072ff);
	width:100%;
	height:100vh;
	display: flex;
	flex-direction: column; 
   	justify-content: center;
   	transition: background 0.9s ease;

}

/****************ANIMATION MOOVE**********************/

.animation{
	position:relative;
	width:900px;
	height:500px;
	margin: 0 auto;
	

}

.moove{
animation: moove 3s ease infinite;

}

@keyframes moove{

	0%{

		transform: translateX(0px);
	}

	50%{

		transform: translateX(20px);
	}

	80%{

		transform: translateX(-20px);
	}

	100%{

		transform: translateX(0px);
	}
}
/***********************************************/



.scene{

	transform: rotate(-8deg);
}



.polyg{
	position:absolute;
	width: 100px;
    height: 150px;
	transition:all .5s ease;
}



.dauphin0{
    clip-path: polygon(14% 49%, 0 61%, 47% 61%);
    background-color: #334543;
    transform: rotate(2deg); 
    width: 70px;
    height: 70px;
    left: 116px;
    top: 207px;   
    z-index:1;
}

.dauphin01{
    clip-path: polygon(14% 49%, 46% 49%, 47% 61%);
    background-color: #334543;
    transform: rotate(0deg);
    width: 70px;
    height: 85px;
    left: 115px;
    top: 199px; 
    z-index:1;
}

.dauphin02{
     clip-path: polygon(14% 49%, 22% 62%, 45% 49%);
     background-color: #000;
     transform: rotate(0deg);
     width: 105px;
     height: 95px;
     left: 103px;
     top: 201px;
}

.dauphin03{
  clip-path: polygon(65% 61%, 22% 62%, 42% 49%);
  background-color: #000;
  transform: rotate(0deg);
  width: 100px;
  height: 90px;
  left: 103px;
  top: 205px;
}



.dauphin1{
    clip-path: polygon(60px 15px, 0px 100px, 30px 15px);
    background-color: #3c4650;
    transform: rotate(10deg);
    left:150px;
    top:150px;   
    z-index: 2;
}


.dauphin2{
    clip-path: polygon(50px 70px, 20px 105px, 60px 10px);
    background-color: #0f1622;
    transform: rotate(22deg);
    left: 136px;
    top: 149px;
    z-index: 2;
}

.dauphin3{
    clip-path: polygon(72px 60px, 24px 50px, 55px 40px);
    background-color: #fff;
    transform: rotate(141deg);
    left: 104px;
    top: 140px;
    z-index: 2;
}

.dauphin4{
    clip-path: polygon(83px 45px, 54px 50px, 55px 40px);
    background-color: #334543;
    transform: rotate(-2deg);
    left: 92px;
    top: 201px;
    z-index: 2;
}

.dauphin5{
    clip-path: polygon(92px 35px, 84px 50px, 63px 40px);
    background-color: #000;
    transform: rotate(-2deg);
    left: 83px;
    top: 211px;
    z-index: 2;
}

.dauphin6{
    clip-path: polygon(250px 0px, 82px 50px, 52px 46px);
    background-color: #273537;
    transform: rotate(2deg);
    width: 500px;
    height: 250px;
    left: 134px;
    top: 124px;
    z-index: 2;
}

.dauphin7{
    clip-path: polygon(150px 50px, 264px 8px, 1px 206px);
    background-color: #384e4d;
    transform: rotate(32deg);
    width: 300px;
    height: 350px;
    left: 212px;
    top: 45px;
    z-index: 2;
}

.dauphin8{
    clip-path: polygon(35px 124px, 208px 16px, 30px 60.2px);
    background-color: #486461;
    transform: rotate(9deg);
    width: 300px;
    height: 350px;
    left: 171px;
    top: 124px;
    z-index: 2;
}

.dauphin9{
    clip-path: polygon(145px 5px, 102px 51px, 88px 25px);
    background-color: #62827f;
    transform: rotate(-38.5deg);
    width: 300px;
    height: 350px;
    left: 180px;
    top: 123px;
    z-index: 2;
}


/*******OEIL*********/

.dauphin10{
    clip-path: polygon(120px 51px, 76px 67px, 95px 40px);
    background-color: #333c40;
    transform: rotate(0deg);
    width: 300px;
    height: 350px;
    left: 95px;
    top: 180px;
}

.dauphin11{
clip-path: polygon(50% 59%, 8% 69%, 40% 73%);
      background-color: #1c2529;
    transform: rotate(0deg);
  
    left: 165px;
    top: 142px;
}


.pupille{
    clip-path: polygon(120px 51px, 76px 67px, 95px 40px);
    background-color: #000;
    transform: rotate(0deg);
    width: 150px;
    height: 100px;
    left: 95px;
    top: 180px;
    z-index:3;
    
}

.pupille-2{
clip-path: polygon(50% 59%, 8% 69%, 40% 73%);
      background-color: #000;
    transform: rotate(0deg);
 
    left: 165px;
    top: 142px;
    z-index: 3;
}

.clignement{

	animation : wink 0.5s ease infinite;
}

@keyframes wink{

	0%{clip-path: polygon(120px 51px, 76px 67px, 95px 40px);

		
	}

		
	
	100%{clip-path: polygon(120px 51px, 76px 67px, 95px 60px);
		
	}
}

.clignementdeux{

	animation : winkde 0.5s ease infinite;
}

@keyframes winkde{

	0% {clip-path: polygon(50% 59%, 8% 69%, 40% 73%);

		
	}


100% {clip-path: polygon(50% 59%, 8% 69%, 20% 65%);
		
	}
}

.pupi-bl{
	clip-path: polygon(43% 48%, 34% 56%, 42% 54%);
	background-color: #fff;
    transform: rotate(0deg);
    left: 150px;
    top: 157px;
    z-index:3;
}

.pupi-bl-cligne{

	animation: cligne 0.5s ease infinite;
}

@keyframes cligne {

0% {clip-path: polygon(43% 48%, 34% 56%, 42% 54%);

		
	}


100% {clip-path: polygon(43% 54%, 34% 56%, 42% 54%);
		
	}

}


.dauphin12{
clip-path: polygon(7% 54%, 3% 64%, 84% 72.5%);     
background-color: #fff;
    transform: rotate(0deg);
width: 210px;
    height: 150px;
    left: 159px;
    top: 164px;
    z-index:2;
}

.dauphin13{
	    clip-path: polygon(11% 52%, 2% 66%, 100% 83%);
    background-color: #bdd0d0;
    transform: rotate(-2deg);
    width: 133px;
    height: 150px;
    left: 201px;
    top: 150px;
    z-index: 3;
}

.dauphin14{
    clip-path: polygon(12% 39%, 87% 28%, 74% 69.9%);
    background-color: #aac7c6;
    transform: rotate(-2deg);
    width: 190px;
    height: 150px;
    left: 193px;
    top: 169px;
    z-index: 2;
}

.dauphin15{
    clip-path: polygon(0 74%, 98% 24%, 74% 62%);
    background-color: #62827f;
    transform: rotate(-1deg);
      width: 190px;
    height: 150px;
    left: 217px;
    top: 117px;
    z-index: 2;
}

.dauphin16{
 clip-path: polygon(1% 22%, 93% 15%, 84% 29%);
    background-color: #415555;
    transform: rotate(-1deg);
    width: 160px;
    height: 150px;
    left: 398px;
    top: 117px;
    z-index: 2;
}

.dauphin17{
        clip-path: polygon(1% 21.6%, 95% 72%, 84% 28%);
    background-color: #486461;
    transform: rotate(-1deg);
    width: 160px;
    height: 150px;
    left: 398px;
    top: 117px;
    z-index: 2;
}

.dauphin18{
        clip-path: polygon(25% 22.5%, 100% 75%, 0% 61%);
    background-color: #739998;
    transform: rotate(-2deg);
    width: 194px;
    height: 150px;
    left: 356px;
    top: 115px;
    z-index: 2;
}

.dauphin19{
         clip-path: polygon(80% 95%, 100% 54.5%, 0 41%);
    background-color: #d8e2de;
    transform: rotate(-2deg);
    width: 194px;
    height: 150px;
    left: 356px;
    top: 145px;
    z-index: 2;
}

.dauphin20{
        clip-path: polygon(91% 92%, 0% 83%, 11% 41%);
    background-color: #d9ebeb;
    transform: rotate(0deg);
    width: 198px;
    height: 150px;
    left: 334px;
    top: 148px;
    z-index: 2;
}

.dauphin21{
          clip-path: polygon(27% 84%, 22% 27%, 7% 40%);
    background-color: #384e4d;
    transform: rotate(0deg);
    width: 100px;
    height: 150px;
    left: 524px;
    top: 98px;
    z-index: 2;
}

.dauphin22{
       clip-path: polygon(57% 69%, 60% 25%, 7% 67%);
    background-color: #2d3b3b;
    transform: rotate(0deg);
    width: 180px;
    height: 180px;
    left: 354px;
    top: 9px;
    z-index: 2;
}

.dauphin23{
     clip-path: polygon(100% 88%, 6% 27%, 10% 90.2%);
    background-color: #4b6364;
    transform: rotate(0deg);
    width: 160px;
    height: 135px;
    left: 535px;
    top: 102px;
    z-index: 2;
}

.dauphin24{
       clip-path: polygon(100% 41%, 21% 42%, 0% 88%);
    background-color: #c4ddd6;
    transform: rotate(0deg);
    width: 183px;
    height: 138px;
    left: 512px;
    top: 165px;
    z-index: 2;
}

.dauphin25 {
    clip-path: polygon(100% 90%, 14% 46%, 78% 100%);
    background-color: #2d3b3b;
    transform: rotate(0deg);
    width: 230px;
    height: 150px;
    left: 514px;
    top: 71px;
    z-index: 2;
}

.dauphin26{
     clip-path: polygon(82% 67%, 43% 59%, 16% 86%);
    background-color: #365255;
    transform: rotate(10deg);
    width: 200px;
    height: 138px;
    left: 656px;
    top: 101px;
    z-index: 2;
}

.dauphin27{
       clip-path: polygon(82% 67%, 49% 96%, 16% 86%);
    background-color: #678781;
    transform: rotate(10deg);
    width: 200px;
    height: 138px;
    left: 656px;
    top: 101px;
    z-index: 2;
}

.dauphin28{
        clip-path: polygon(69% 65%, 74% 95%, 12% 52%);
    background-color: #334543;
    transform: rotate(8deg);
    width: 150px;
    height: 150px;
    left: 276px;
    top: 160px;
    z-index: 4;
    animation: nagelefto 3s infinite;
}

@keyframes nagelefto{

	0%{
		clip-path: polygon(69% 65%, 74% 95%, 12% 52%);
		
	}

	50%{
		clip-path: polygon(69% 65%, 64% 95%, 12% 52%);
		
	}

	80%{
		clip-path: polygon(69% 65%, 84% 95%, 12% 52%);

	}

	
}

.dauphin29{
       clip-path: polygon(100% 83%, 74% 61%, 3% 43%);
    background-color: #21282f;
    transform: rotate(28deg);
    width: 150px;
    height: 150px;
    left: 276px;
    top: 197px;
    z-index: 3;
    animation: nageleft 3s infinite;
}

@keyframes nageleft{

	0%{
		clip-path: polygon(100% 83%, 74% 61%, 3% 43%);
	}

	50%{
		clip-path: polygon(90% 83%, 64% 61%, 3% 43%);
		
	}

	80%{
		clip-path: polygon(100% 73%, 74% 49%, 3% 43%);
	}

	
}

.dauphin30{
       clip-path: polygon(78% 70%, 52% 39%, 19% 48%);
    background-color: #000;
    transform: rotate(28deg);
    width: 120px;
    height: 150px;
   left: 226px;
    top: 207px;
    z-index: 1;
    animation: nageright 3s infinite;
}

@keyframes nageright{

	0%{
		clip-path: polygon(78% 70%, 52% 39%, 19% 48%);
	}

	50%{
		clip-path: polygon(78% 80%, 52% 39%, 19% 48%);
	}

	

	80%{
		clip-path: polygon(90% 60%, 52% 39%, 19% 48%);
	}
}



.dauphin31{
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
   
    width: 100px;
    height: 100px;
    left: 190px;
    top: 189px;
    z-index: 1;
    transition: all .7s ease;
}

.dauphin32{
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
 
    width: 100px;
    height: 100px;
    left: 198px;
    top: 155px;
    z-index: 1;
    transition: all .7s ease;
}

.dauphin33{
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
    width: 100px;
    height: 100px;
    left: 260px;
    top: 155px;
    z-index: 1;
    transition: all .7s ease;
}

.dauphin34{
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
    width: 100px;
    height: 100px;
    left: 200px;
    top: 145px;
    z-index: 1;
    transition: all .7s ease;
}

.dauphin35{
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
    width: 100px;
    height: 100px;
    left: 200px;
    top: 145px;
    z-index: 1;
    transition: all .7s ease;
}

.dauphin36{
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
    width: 100px;
    height: 100px;
    left: 200px;
    top: 145px;
    z-index: 1;
    transition: all .7s ease;
}

.dauphin37{
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
    width: 100px;
    height: 100px;
    left: 200px;
    top: 145px;
    z-index: 1;
    transition: all .7s ease;
}

.dauphin38{
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
    width: 100px;
    height: 100px;
    left: 200px;
    top: 145px;
    z-index: 1;
    transition: all .7s ease;
}





/*********** ANIMATION BRILLANCE ******************/


.scene .brillance:before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  top: 0;
  left: 0;
  position: absolute; 
}


.dauphinopa .polyg:nth-child(1) .brillance:before{
  animation: mirroir 0.8s 0.07s forwards; 
}

.dauphinopa .polyg:nth-child(2) .brillance:before{
  animation: mirroir 0.8s 0.12s forwards; 
}

.dauphinopa .polyg:nth-child(3) .brillance:before{
  animation: mirroir 0.8s 0.17s forwards;
}

.dauphinopa .polyg:nth-child(4) .brillance:before{
  animation: mirroir 0.8s 0.22s forwards; 
}

.dauphinopa .polyg:nth-child(5) .brillance:before{
  animation: mirroir 0.8s 0.27s forwards; 
}

.dauphinopa .polyg:nth-child(6) .brillance:before{
  animation: mirroir 0.8s 0.32s forwards; 
}

.dauphinopa .polyg:nth-child(7) .brillance:before{
  animation: mirroir 0.8s 0.37s forwards; 
}

.dauphinopa .polyg:nth-child(8) .brillance:before {
  animation: mirroir 0.8s 0.42s forwards; 
}

.dauphinopa .polyg:nth-child(9) .brillance:before{
  animation: mirroir 0.8s 0.47s forwards; 
}

.dauphinopa .polyg:nth-child(10) .brillance:before{
  animation: mirroir 0.8s 0.52s forwards; 
}

.dauphinopa .polyg:nth-child(11) .brillance:before{
  animation: mirroir 0.8s 0.57s forwards; 
}

.dauphinopa .polyg:nth-child(12) .brillance:before{
  animation: mirroir 0.8s 0.62s forwards; 
}

.dauphinopa .polyg:nth-child(13) .brillance:before{
  animation: mirroir 0.8s 0.67s forwards; 
}

.dauphinopa .polyg:nth-child(14) .brillance:before{
  animation: mirroir 0.8s 0.72s forwards; 
}

.dauphinopa .polyg:nth-child(15) .brillance:before{
  animation: mirroir 0.8s 0.77s forwards; 
}

.dauphinopa .polyg:nth-child(16) .brillance:before{
  animation: mirroir 0.8s 0.82s forwards; 
}

.dauphinopa .polyg:nth-child(17) .brillance:before{
  animation: mirroir 0.8s 0.87s forwards; 
}

.dauphinopa .polyg:nth-child(18) .brillance:before{
  animation: mirroir 0.8s 0.92s forwards; 
}

.dauphinopa .polyg:nth-child(19) .brillance:before{
  animation: mirroir 0.8s 0.97s forwards; 
}

.dauphinopa .polyg:nth-child(20) .brillance:before{
  animation: mirroir 0.8s 1.02s forwards; 
}

.dauphinopa .polyg:nth-child(21) .brillance:before{
  animation: mirroir 0.8s 1.07s forwards; 
}

.dauphinopa .polyg:nth-child(22) .brillance:before{
  animation: mirroir 0.8s 1.12s forwards; 
}

.dauphinopa .polyg:nth-child(23) .brillance:before{
  animation: mirroir 0.8s 1.17s forwards; 
}

.dauphinopa .polyg:nth-child(24) .brillance:before{
  animation: mirroir 0.8s 1.22s forwards; 
}

.dauphinopa .polyg:nth-child(25) .brillance:before{
  animation: mirroir 0.8s 1.27s forwards; 
}

.dauphinopa .polyg:nth-child(26) .brillance:before{
  animation: mirroir 0.8s 1.32s forwards; 
}

.dauphinopa .polyg:nth-child(27) .brillance:before{
  animation: mirroir 0.8s 1.37s forwards; 
}

.dauphinopa .polyg:nth-child(28) .brillance:before{
  animation: mirroir 0.8s 1.42s forwards; 
}

.dauphinopa .polyg:nth-child(29) .brillance:before{
  animation: mirroir 0.8s 1.47s forwards; 
}

.dauphinopa .polyg:nth-child(30) .brillance:before{
  animation: mirroir 0.8s 1.52s forwards; 
}


@keyframes mirroir {
  0% {
    background-color: rgba(255, 255, 255, 0); }
  35% {
    background-color: rgba(255, 255, 255, 0.1); }
  100% {
    background-color: rgba(255, 255, 255, 0); } }


.shadow {
     top: 400px;
    left: 15%;
    background-image: radial-gradient(closest-side, rgba(0, 0, 0, 0.35) 0, rgba(0, 0, 0, 0.14) 35%, transparent 100%);
    width: 600px;
    height: 25px;
    transform: rotate(7deg);
}

/******ELEPHANT*********/

.elephant28{
	clip-path: polygon(20% 59%, 9% 86%, 39% 95%);
	background-color: #9C9E9F;
    transform: rotate(2deg); 
	animation: none;
	width: 100px;
	height: 100px;
	left: 126px;
	top: 290px;
	 transition: all .7s ease;
}

.elephant29{
	clip-path: polygon(16% 54%, 62% 74%, 35% 90.5%);
	background-color: #B1B3B4;
    transform: rotate(1deg); 
	animation: none;
	width: 100px;
	height: 100px;
	left: 129px;
	top: 294px;
	 transition: all .7s ease;
}


.elephant30{
    clip-path: polygon(36% 50%, 9% 66%, 55% 79%);
    background-color: #58585A;
    transform: rotate(0deg); 
    width: 100px;
    height: 100px;
    left: 154px;
    top: 318px;
    z-index: 1;
    animation: none;
     transition: all .7s ease;
}



.elephant0{
    clip-path: polygon(59% 87%, 28% 76%, 80% 48%);
    background-color: #9C9E9F;
    transform: rotate(0deg);
    width: 145px;
    height: 200px;
    left: 105px;
    top: 196px;
    z-index: 1;
     transition: all .7s ease;
}

.elephant01{
    clip-path: polygon(59% 87%, 28% 76%, 80% 48%);
    background-color: #9C9E9F;
    transform: rotate(0deg);
    width: 145px;
    height: 200px;
    left: 105px;
    top: 196px;
    z-index: 1;
     transition: all .7s ease;
}
 

.elephant02{
     clip-path: polygon(49% 23%, 16% 92%, 70% 43%);
     background-color: #58585A;
     transform: rotate(5deg);
     width: 170px;
     height: 170px;
     left: 125px;
     top: 197px;
      transition: all .7s ease;
}

.elephant03{
  clip-path: polygon(46% 23%, 6% 92%, 32% 37%);
  background-color: #C6C7C8;
  transform: rotate(0deg);
  width: 170px;
  height: 170px;
  left: 135px;
  top: 195px;
   transition: all .7s ease;
}



.elephant12{clip-path: polygon(42% 73%, 15% 85%, 55% 93%);
	background-color: #9C9E9F;
	transform: rotate(0deg);
	width: 150px;
	height: 100px;
	left: 240px;
	top: 323px;
	z-index:2;
	 transition: all .7s ease;
}

.elephant13{
	clip-path: polygon(15% 77%, 15% 94%, 38% 83%);
	background-color: #B1B3B4;
	transform: rotate(0deg);
	width: 170px;
	height: 110px;
	left: 239px;
	top: 305px;
	 transition: all .7s ease;
	
}

.elephant14{
    clip-path: polygon(15% 77%, 15% 56%, 37% 79%);
    background-color: #58585A;
    transform: rotate(4deg);
    width: 170px;
    height: 150px;
    left: 242px;
    top: 279px;
     transition: all .7s ease;
}

.elephant15{
    clip-path: polygon(34% 7%, 15% 56%, 38% 76%);
    background-color: #87888A;
    transform: rotate(11deg);
    width: 180px;
    height: 150px;
    left: 240px;
    top: 287px;
     transition: all .7s ease;
}


.elephant20{
    clip-path: polygon(50% 10%, 12% 72%, 0% 16%);
    background-color: #B1B3B4;
    transform: rotate(0deg);
    width: 198px;
    height: 170px;
    left: 243px;
    top: 237px;
     transition: all .7s ease;
}




.elephant1{
   clip-path: polygon(18% 8%, 37% 97%, 20% 76%, 15% 41%);
   background-color: #58585A;
   transform: rotate(0deg);
   width: 190px;
   height: 170px;
   left: 174px;
   top: 108px;
   transition: all .7s ease;
}


.elephant2{
    clip-path: polygon(42% 45%, 40% 67%, 58% 100%);
    background-color: #C6C7C8;
    transform: rotate(0deg);
    width: 100px;
    height: 160px;
    left: 155px;
    top: 78px;
      transition: all .7s ease;
}

.elephant3{
    clip-path: polygon(33% 16%, 44% 9%, 53% 35%, 42% 100%);
    background-color: #9C9E9F;
    transform: rotate(3deg);
    width: 100px;
    height: 100px;
    left: 155px;
    top: 88px;
      transition: all .7s ease;
}

.elephant4{
    clip-path: polygon(35% 30%, 24% 70%, 27% 86%);
    background-color: #fff;
    transform: rotate(0deg);
    width: 100px;
    height: 108px;
    left: 175px;
    top: 88px;
    transition: all .7s ease;
}

.elephant5{
    clip-path: polygon(75% 0%, 23% 92%, 88% 84%);
    background-color: #9C9E9F;
    transform: rotate(0deg);
    width: 130px;
    height: 110px;
    left: 212px;
    top: 164px;
    transition: all .7s ease;
}

.elephant6{
    clip-path: polygon(59% 26%, 24% 97%, 41% 10%);
    background-color: #B1B3B4;
    transform: rotate(8deg);
    width: 150px;
    height: 155px;
    left: 216px;
    top: 121px;
    transition: all .7s ease;
}

.elephant7{
       clip-path: polygon(54% 29%, 28% 100%, 4% 7%);
    background-color: #C6C7C8;
    transform: rotate(0deg);
    width: 172px;
    height: 181px;
    left: 194px;
    top: 84px;
    transition: all .7s ease;
}

.elephant8{
   clip-path: polygon(0 32%, 70% 20%, 92% 87%, 27% 51%);
   background-color: #58585A;
   transform: rotate(9deg);
   width: 150px;
   height: 190px;
   left: 281px;
   top: 87px;
   transition: all .7s ease;
}

.elephant9{
    clip-path: polygon(68% 88%, 22% 84%, 13% 27%);
    background-color: #87888A;
    transform: rotate(0deg);
    width: 180px;
    height: 161px;
    left: 286px;
    top: 120px;
    z-index: 1;
    transition: all .7s ease;
}
    
.elephant18{
    clip-path: polygon(41% 37%, 0% 59%, 59% 87%);
    background-color:#9C9E9F;
    transform: rotate(0deg);
    width: 150px;
    height: 151px;
    left: 202px;
    top: 8px;
    transition: all .7s ease;
}

.elephant19{
    clip-path: polygon(22% 25%, 35% 73%, 91% 69%);
    background-color: #87888A;
    transform: rotate(0deg);
    width: 191px;
    height: 150px;
    left: 221px;
    top: 27px;
    transition: all .7s ease;
}



.elephant22{
    clip-path: polygon(50% 6%, 5% 62%, 78% 24%);
    background-color: #58585A;
    transform: rotate(0deg);
    width: 100px;
    height: 100px;
    left: 186px;
    top: 41px;
    z-index: 1;
    transition: all .7s ease;
}


.elephant16{
clip-path: polygon(100% 43%, 0% 60%, 45% 36%);
    background-color: #87888A;
    transform: rotate(0deg);
    width: 114px;
    height: 120px;
    left: 232px;
    top: -23px;
    transition: all .7s ease;
}

.elephant17{
    clip-path: polygon(100% 37%, 0 53%, 65% 89%);
    background-color: #58585A;
    transform: rotate(0deg);
    width: 110px;
    height: 120px;
    left: 235px;
    top: -16px;
    transition: all .7s ease;
}



.elephant21{
    clip-path: polygon(49% 86%, 0% 100%, 100% 100%);
    background-color: #C6C7C8;
    transform: rotate(8deg);
    width: 100px;
    height: 100px;
    left: 288px;
    top: -72px;
    transition: all .7s ease;
}


.elephant23{
   clip-path: polygon(29% 33%, 5% 93%, 100% 95%);
    background-color: #B1B3B4;
    transform: rotate(0deg);
    width: 150px;
    height: 100px;
    left: 301px;
    top: -5px;
    transition: all .7s ease;
}

.elephant24{
    clip-path: polygon(97% 27%, 0% 50%, 95% 91%);
    background-color: #C6C7C8;
    transform: rotate(10deg);
    width: 144px;
    height: 100px;
    left: 307px;
    top: 50px;
    transition: all .7s ease;
}

.elephant25 {
    clip-path: polygon(64% 26%, 5% 21%, 100% 55%);
    background-color: #C6C7C8;
    transform: rotate(0deg);
    width: 110px;
    height: 180px;
    left: 340px;
    top: -9px;
    transition: all .7s ease;
}

.elephant26{
    clip-path: polygon(65% 35%, 27% 22%, 46% 100%);
    background-color: #9C9E9F;
    transform: rotate(10deg);
    width: 120px;
    height: 100px;
    left: 356px;
    top: 113px;
    z-index: 1;
    transition: all .7s ease;
}

.elephant27{
    clip-path: polygon(57% 18%, 23% 80%, 82% 71%);
    background-color: #87888A;
    transform: rotate(0deg);
    width: 100px;
    height: 100px;
    left: 379px;
    top: 132px;
    z-index: 1;
    transition: all .7s ease;
}

.elephant31{
    clip-path: polygon(72% 13%, 12% 23%, 17% 75%);
    background-color: #C6C7C8;
    transform: rotate(0deg);
    width: 100px;
    height: 100px;
    left: 390px;
    top: 189px;
    z-index: 9;
    transition: all .7s ease;
}

.elephant32{
    clip-path: polygon(63% 17%, 72% 86%,10% 78%);
    background-color: #B1B3B4;
    transform: rotate(0deg);
    width: 100px;
    height: 100px;
    left: 398px;
    top: 185px;
    z-index: 9;
    transition: all .7s ease;
}

.elephant33{
    clip-path: polygon(0% 17%, 10% 87%, 100% 74%);
    background-color: #C6C7C8;
    transform: rotate(0deg);
    width: 100px;
    height: 100px;
    left: 460px;
    top: 185px;
    z-index: 9;
    transition: all .7s ease;
}

.elephant34{
    clip-path: polygon(0% 12%, 70% 3%, 90% 50%);
    background-color: #87888A;
    transform: rotate(0deg);
    width: 110px;
    height: 150px;
    left: 460px;
    top: 185px;
    z-index: 9;
    transition: all .7s ease;
}

.elephant35{
    clip-path: polygon(0% 51%, 23% 86%, 92% 77%);
    background-color: #58585A;
    transform: rotate(0deg);
    width: 110px;
    height: 150px;
    left: 436px;
    top: 74px;
    z-index: 9;
    transition: all .7s ease;
}

.elephant36{
    clip-path: polygon(57% 18%, 23% 80%, 82% 71%);
    background-color: #87888A;
    transform: rotate(0deg);
    width: 100px;
    height: 100px;
    left: 379px;
    top: 132px;
    z-index: 9;
    transition: all .7s ease;
}

.elephant37{
    clip-path: polygon(57% 18%, 23% 80%, 82% 71%);
    background-color: #87888A;
    transform: rotate(0deg);
    width: 100px;
    height: 100px;
    left: 379px;
    top: 132px;
    z-index: 9;
    transition: all .7s ease;
}